'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Ruby strftime Reference'
      'submenu': [
        { 'label': 'Toggle', 'command': 'ruby-strftime-reference:toggle' }
      ]
    ]
  }
]
